<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="Ambiente" value="http://google.com.br" />
    <add key="Browser" value="chrome" />
    <add key="nomeProjeto" value="X" />
    <add key="Usuario" value="ususario" />
    <add key="Senha" value="senha" />
  </appSettings>  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <plugins>
      <add name="Allure" type="Runtime" />
    </plugins><stepAssemblies>
      <stepAssembly assembly="Allure.SpecFlowPlugin" />
    </stepAssemblies></specFlow></configuration>